<h1>ログインページ</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
    <div class="field">
      <%= f.label :メールアドレス %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :パスワード %>
      <%= f.password_field :password %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン", id: "create-session" %>
    </div>
<% end %>